@font-face {
 	font-family: 'ProximaNova-Regular';
 	src: url('fonts/proximanovaregular.eot');
 	src: url('fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'),
   		url('fonts/proximanovaregular.woff') format('woff'),
   		url('fonts/proximanovaregular.ttf') format('truetype'),
   		url('fonts/proximanovaregular.svg#ProximaNova-Regular') format('svg');
 	font-weight: normal;
 	font-style: normal;
}

body {
	background: #dcdcdc repeat;
    font: normal 16px/1.4 ProximaNova-Regular;
}

html {
	background: none;
}

#content {
	margin: 0 auto;
	max-width: 1160px;
	width:100%;
}

#header {
	background: url('../img/bgnew.png'), url('../img/fondo1.png') top center no-repeat;
	height: 430px;
	width: 100%;
	position: relative;
}

#header .background {
	background: #00a5ee;
	height: 430px;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#wraper-news {
	float: left;
	margin-top: 3.375em;
	width: 75%;
}

.border-radius {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
}

.bottom-header-news {
	margin-top: 2em;
	height: 65px;
}

.bottom-header-news img {
	border: .5em solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	float: left;
	margin-top: -.5em;
}

.bottom-header-news span {
	font-size: 1.125em;
}

.breve {
	color: #df008b;
}

.clear {clear: both;}

.date-news {
	background: #00d61e;
	border: 1px solid #00a617;
	color: #fff;
	float: right;
	height: 65px;
}

.editor-news {
	background: #fff;
	float: left;
	height: 65px;
	line-height: 65px;
	margin-left: 1.5em;
	padding: 0 3.5em;
	position:relative;
}

.editor-news img {
	border: 0;
	left: -13px;
	position: absolute;
	top: 30px;
}

.header-news {
	font-weight: bold;

}

.padding {
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.recientes {
	background: #FFF;
	height: 41px;
	width: 100%;
}

.recientes>div {
	color: #555;
	font-weight: bold;
	line-height: 41px;
	margin: 0 auto;
	text-align: center;
	width: 1160px;
}

.social-news {
	float: right;
}

.social-news img {
	margin-left: 1em;
}

.title-news {
	background: #fff;
	color: #e20076;
	float: left;
	max-width: 65%;
}

.top {
	margin: 0 auto;
	position: relative;
	width: 1161px;
}

.top-header-news {
	background: #fff;
}

.top-header-news span {
	font-size: 1.5em;
}

.wraper-editor-news {
	float: left;
	width: 50%;
}