@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('fonts/proximanovaregular.eot');
	src: url('fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/proximanovaregular.woff') format('woff'),
		 url('fonts/proximanovaregular.ttf') format('truetype'),
		 url('fonts/proximanovaregular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font: normal 16px/1.4 ProximaNova-Regular;
    background: #dcdcdc;
    position: relative;
}

html {
	background: none !important;
}

#content {
	margin: 0 auto;
	max-width: 1160px;
	width: 100%;
}

#header {
	background: url('../img/bgnew.png'), url('../img/fondo1.png') top center no-repeat;
	height: 430px;
	width: 100%;
	position: relative;
}

#header .background {
	background: #00a5ee;
	height: 430px;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.breve {
	color: #df008b;
}

.recientes {
	background: #FFF;
	height: 41px;
	width: 100%;
}

	.recientes>div {
		color: #555;
		font-weight: bold;
		line-height: 41px;
		margin: 0 auto;
		text-align: center;
		width: 1160px;
	}

.top {
	margin: 0 auto;
	position:relative;
	width: 1161px;
}
