@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('fonts/proximanovaregular.eot');
	src: url('fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/proximanovaregular.woff') format('woff'),
		 url('fonts/proximanovaregular.ttf') format('truetype'),
		 url('fonts/proximanovaregular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header {
	background: url('../img/fondo1.png') top center no-repeat;
	height: 430px;
	width: 100%;
	position: relative;
}

#header .background {
	background: #00a5ee;
	height: 430px;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.top {
	margin: 0 auto;
	position:relative;
	width: 1161px;
}
